<ul>
    <li><a href='Home'>Acasa</a></li>
    <li><a href='Top5filmelemelepreferate'>Top 5 filme preferate</a></li>
    <li class="dropdown">
        <div class="dropbtn">The Conjuring Universe</div>
        <div class="dropdown-content">
            <a href='TheConjuringUniverse'>Info</a>
            <a href='TheConjuring1&2'>The Conjuring 1 & 2</a>
            <a href="Annabelle">Annabelle 1 & 2</a>
            <a href='TheNun'>The Nun</a>
        </div>
    </li>
    <li><a href='FridayThe13th'>Friday the 13th</a></li>
    <li><a href='Filtru'>Filtru</a></li>
    <li><a href='Imagini'>Galerie imagini</a></li>
    <li><a href='/reviews'>Feedback</a></li>
    <li><a href = 'HomeLogIn'>Conecteaza-te</a></li>
    <li><a href = 'Quiz'>Quiz</a></li>
</ul>
