<!DOCTYPE html>
<html lang="ro">
<head>
    <title>ACASA</title>
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
</head>
<body>
    <%- include ("header.ejs") %>
    <div style="display: inline-flex; margin-left: 30%;">
        <div id = 'countDown' style="color: red; font-size: 2.5vw;"></div>
        <div style="color: red; font-size: 2.5vw;">&nbsp pana la terminarea sesiunii!</div>
    </div>
    <p id = 'message'></p>
    <div style="display: inline-flex; width: 100%;">
        <div style="margin-left: 5%; border-style: groove; border-color:red; border-width: 0.5vw; width: 40vw">
            <p style="color: seashell; font-size: 1.5vw; margin-left: 5%;">Introdu data nasterii sub forma 'zi#luna#an'</p>
            <label style="font-size: 1.5vw; margin-left: 5%;">Data nasterii:</label>
            <input type = 'text' id = 'dataNastere'>
            <button onclick="age()">Afla varsta</button>
            <p id = 'showAge' style="color: seashell; font-size: 1.5vw; margin-left: 5%;"></p>
        </div>
        <div id = "ravas" style="border-style: groove; border-color: red; border-width: 0.5vw; width: 40vw">
            <div style="margin-left: 35%;">
                RAVAS
            </div> <BR>
        </div>
    </div>
    

    <p id = "container1">FILME HORROR</p>

    <div style="display: inline-flex; margin-left: 15%;">
        <h1>INTRODUCERE</h1>
        <button id = 'showImages' onclick='showAndHideImg()' value="hide" style="font-size: 13px; margin-left: 190%">Ascunde imaginile</button>
    </div>

    <div class="div1">
        <p class="p_home">In filmele de groaza, forte, personaje sau evenimente daunatoare patrund in viata oamenilor de zi cu zi. Elementele care apar cel mai des in filmele de groaza sunt: vampiri, demoni, monstri, criminali in serie, fantome si o multime de alte personaje, care inspira frica. Primele filme de groaza au fost inspirate din personaje si povestiri din literatura clasica: Dracula, Frankenstein, The Mummy, The Phantom of the Opera, Dr. Jekyll and Mr. Hyde etc. Filmele mai moderne, dimpotriva, sunt inspirate din insecuritatile vietii de după Al Doilea Razboi Mondial, dand viata a trei sub-genuri diferite, dar legate intre ele: groaza provocata de personalitati malefice, groaza provocata de evenimente catastrofale și groaza provocata de demoni. Ultimul gen poate fi interpretat ca o modernizare a filmelor clasice, dezvoltand clasica idee a fortelor supranaturale, care aduc oroare in vietile oamenilor.</p>
        <figure>
            <img class="imagine3" src="fantomadelaopera.jpg" alt="imagine film"/>
            <figcaption class = 'figc'> Scena din filmul "Fantoma de la Opera", 1925</figcaption>
        </figure>
    </div>
    <br>
    <br>
    <h1>
        ISTORIC    
    </h1>
    <h2>
        INAINTE DE 1920
    </h2> 
    <div class="div1">
        <p class="p_home">Genul filmelor de groaza este aproape la fel de vechi ca si filmul insusi. Ideea fortelor supranaturale apare in numeroase filme mute, cel mai notabil fiind "Casa diavolului" din 1896. Primele filme de groaza mai lungi au fost facute de germani, prin 1910-1920. Probabil cel mai important eveniment din acea era a filmului a fost primul film cu vampiri, "Nosferatu" din 1922, o ecranizare neautorizata a romanului "Dracula" scris de Bram Stoker.</p>
        <figure>
            <img class="imagine3" src="nosferatu.jpg" alt="imagine film"/>
            <figcaption class = 'figc'>Contele Orlok, "Nosferatu"</figcaption>
        </figure>
    </div>
        
    <br>
    <br>
    <h2>
        1950-1960
    </h2>
    <div class="div1">
        <p class="p_home">Datorita schimbarilor radicale care au aparut in stiinta in anii 1950, tema filmelor s-a mutat de la genul gotic din perioada precedenta la genul science-fiction. Filme clasice din aceasta perioada sunt: "The Thing from Another World", "Invasion of the Body Snatchers". Companiile de filme se vor orienta spre filmele de groaza, incluzand compania britanica Hammer Film Productions care s-a bucurat de un succes imens cu filme precum "Dracula"(1958), The Mummy(1959). In "Psycho" (1960) al lui Alfred Hitchcock, subiectul nu era ceva supranatural sau monstruos, ci o fiinta umana cu probleme psihice grave.</p>
        <figure>
            <img class="imagine3" src="Psycho.jpeg" alt="imagine film"/>
            <figcaption class = 'figc'>"Psycho"</figcaption>
        </figure>
    </div>
    <br>
    <br>
    <h2>
        1970
    </h2>
    <div class="div1">
        <p class="p_home">Datorita interesului tot mai mare al publicului pentru ocultism, tot mai multe astfel de filme au aparut. Filmul "Rosemary's baby" (1968) a fost precursorul exploziei de ocultism, care a inclus si "The Exorcist" (1973) precum si multe altele in care diavolul devine raul supranatural. De asemenea, reincarnarea si copiii demonici au devenit subiecte preferate, cum ar fi filmele "Audrey Rose" (1977), "Alice, Sweet Alice" (1976), "The Omen" (1976) in care un barbat realizeaza ca fiul lui e Antichristul. Un alt film notabil este "Halloween" care a dat startul slasher-ului modern. In 1975, filmul "Jaws" a fost un succes.</p>
        <figure>
            <img class="imagine3" src="theexorcist.jpg" alt="imagine film"/>
            <figcaption class = 'figc'>Regan,"The Exorcist"</figcaption>
        </figure>
    </div>
    <br>
    <br>
    <h2>
        1980-2000
    </h2>
    <div class="div1">
        <p class="p_home">In aceasta perioada, filmele slasher "Halloween","Friday the 13th" si "A Nightmare on Elm Street" si-au continuat existenta prin numeroase continuari. De asemenea, seria "Hellraiser" aparuta in 1987 a avut un real succes. Poate cel mai reprezentativ pentru aceasta perioada este thriller-ul "The Shining", o ecranizare a romanului omonim al lui Stephen King care este considerat un clasic al genului. Seria de filme "Final Destination", aparuta in anul 2000, a marcat un succes imens. Alte filme care si-au inceput istoria sunt: "The Grudge" (2004), "The Ring"(2002). Au inceput sa se introduca filme ce au la baza moartea violenta, tortura, de exemplu "Saw" si "Hostel".
        </p>
        <figure>
            <img class="imagine3" src="the_shining.jpg" alt="imagine film"/>
            <figcaption class = 'figc'>"The Shining"</figcaption>
        </figure>
    </div>
    <br>
    <br>
    <h5>
        Here is a short history of the horror film. Enjoy!
    </h5>
    <iframe class="video2" src="https://www.youtube.com/embed/IO7asdIg3a4">
    </iframe>
    <br><br>
    
    <script src="index.js"></script>
    <script src="Home.js"></script>
</body>
</html>