<!DOCTYPE html>
<html lang="ro">
<head>
    <title>QUIZ</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<body>

    <%- include ("header.ejs") %>
    <div id="quiz" style="color: aliceblue;"></div>
    <button id="submitQuiz">Submit</button>
    <div id = "result" style="color: aqua; font-size: 2vw;"></div>
    <script src = "Quiz.js"></script>
</body>