<!DOCTYPE html>
<html lang="ro">
<head>
    <title>THE CONJURING 1&2</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

</head>
<body>
    <%- include ("header.ejs") %>
    <div id="container1">THE CONJURING 1&2</div> 
    
    <br><br><br>
    <h1>The Conjuring </h1>
    <h2>Descriere</h2>
    <p class="p_top">"Traind printre demoni" (titlul original: The Conjuring) este un film de groaza aparut in 2013, primul din The Conjuring Universe. Acesta este inspirat din fapte reale, incepand cu personajele Ed si Lorraine Warrens si pana la povestea prezentata. Filmul debuteaza cu o scena din filmul "Annabelle", creionandu-se astfel legatura dintre filme. Sotii Warren sunt chemati de niste fete care sunt disperate din cauza papusii si a entitatii atasate de ea, sperand ca specialistii sa rezolve problema.Se prezinta apoi clasicul plot de familie ce abia se muta intr-o casa noua si descopera ca, pe masura ce zilele trec, o prezenta malefica isi face prezenta si o poseda pe Carolyn, care astfel a incercat sa isi omoare copiii. Ed incepe ritualul de exorcizare si il finalizeaza cu ajutorul sotiei sale, iar familia este salvata.Este de mentionat faptul ca "The Conjuring" a castigat Premiul Saturn pentru cel mai bun film de groaza, premiu oferit de Academy of Science Fiction, Fantasy and Horror Films.    </p>  
    <br><br>
    <h1>The Conjuring 2</h1>
    <h2>Descriere</h2>
    <p class="p_top">"Traind printre demoni 2" (titlul original: The Conjuring 2, numit in Europa si "The Enfield Case") este un film din anul 2016, al doilea al miniseriei "The Connjuring". Filmul debuteaza cu o scena legata de cazul Amityville, caz real celebru, intrucat Ed si Lorraine Warren, cei reali, chiar au investigat acest caz. Lorraine, prin puterile ei paranormale, retraieste experienta Amityville ca si cum ea ar fi fost ucigasul, dandu-si seama ca acolo a fost vorba de ceva mult mai mult decat probleme mintale ale barbatului. Anume, o prezenta malefica il impinge pe unul dintre locatari sa isi omoare intreaga familie.Filmul in sine prezinta familia Hudgson ce incepe sa traiasca evenimente stranii, dupa ce un copil de joaca in casa cu tabla Ouija. Entitatea este spiritul barbatului ce a trait si murit in acea casa. Sotii Warren sunt chemati, desi au spus ca se retrag din meserie. Lorraine are o viziune cu moartea lui Ed, fiind sceptica in a accepta si acest caz. Se dovedeste ca acel spirit era controlat de demonul Valak, al carui poveste este prezentata in filmul "The Nun", filmele avand o deosebita legatura intre ele. Lorraine izgoneste demonul, Ed este salvat de la moarte. Cei doi Warren isi completeaza colectia de obiecte bantuite, prezentandu-se iar legaturile dintre filme.  </p>
    <h5>
        Trailer-urile oficiale:
    </h5>
    <div class="div1">
        <iframe class="video2" src="https://www.youtube.com/embed/k10ETZ41q5o"></iframe>
        <iframe class="video2" src="https://www.youtube.com/embed/VFsmuRPClr4"></iframe>
    </div>
    <br>
    <h1>Galerie de imagini</h1>
    <div class="galerie">
        <figure class="ig">
            <img class="imag" src="the_conj.jpg" alt="imagine"/>
        </figure>

        <figure class="ig">
            <img class="imag" src="conj2.jpg" alt="imagine"/> 
        </figure>

        <figure class="ig">
            <img class="imag" src="conj_22.png" alt="imagine"/>
        </figure>
    </div>
    <script src="index.js"></script>
</body>
</html>