<!DOCTYPE html>
<html lang="ro">
<head>
    <title>THE CONJURING UNIVERSE</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">

</head>
<body>
    <%- include ("header.ejs") %>
    <div id="container1">THE CONJURING UNIVERSE- <br>INFO</div> 

    <br><br>
    <p class="p_top">
        Asa cum a fost spus in <a href="Top5filmelemelepreferate.html">top</a>, aceasta serie de filme este destul de cunoscuta in intreaga lume, dat fiind faptul ca unele ecranizari se inspira din evenimente din viata reala, cum ar fi "The Conjuring" (prima parte) sau "Annabelle", existand intr-adevar o papusa despre care se crede ca ar fi posedata, dar acest subiect va fi dezbatut la momentul respectiv. Aceste filme ii prezinta pe Ed si Lorraine Warren, cuplu ce se ocupa de rezolvarea unor cazuri paranormale, cum ar fi case bantuite, cazuri de exorcizari etc. Aceste persoanje sunt inspirate din viata reala, precum si evenimentele prezentate de-a lungul filmelor. 
    </p>
    <br><br><br>
    <figure>
            <img class="imagine2" src="conj1.jpg" alt="imagine film"/>
            <figcaption>The Conjuring timeline</figcaption>
    </figure>
    <br><br><br>
    <p class="p_top">
        Asa cum se observa din poza de mai sus, filmele au o cronologie putin ciudata si trebuie vazute filmele pentru a intelege asta. Mai precis, ordinea in care filmele au aparut nu are nici cea mai mica legatura cu cronologia povestilor prezentate in acestea. De exemplu, primul film din serie care a aparut este prima parte din "The Conjuring", iar, dupa cum se observa din imagine, este penultimul din punct de vedere al cronologiei evenimentelor. Acest lucru este unul dintre multe altele interesante legate de acest univers al filmelor care a fost creat.
    </p>
    <br><br>
    <h2> The Curse of La Llorona</h2>
    <br>
    <p class="p_top">
        Un alt film ce are legatura cu celelalte este "The Curse of La Llorona", despre care nu voi scrie prea multe, intrucat evenimentele ce au loc nu influenteaza celelalte filme. Pe scurt, filmul prezinta spiritul unei  femei imbracate in alb ce ineaca in rau copiii, dupa ce, in urma cu multi ani, si-a inecat proprii fii. Ea are o slabiciune pe care personajul principal, Patricia, o foloseste pentru a o distruge pentru totdeauna. Legatura cu celelalte filme o reprezinta prezenta parintelui Perez care apare si in "Annabelle", dar si aducerea in discutie a sotilor Warren din finalul filmului. Acest film este mult mai criticat decat celelalte, publicul spunand ca se astepta la mai mult.
    </p>
    <h5>Scene:</h5>
    <br>
    <div class="div1">
        <iframe class="video2" src="https://www.youtube.com/embed/OLg3KX6H0J8"></iframe>
        <iframe class="video2" src="https://www.youtube.com/embed/sgTJx8O3PYI"></iframe>
    </div>
    <br><br>
    <script src="index.js"></script>
</body>
</html>